/* NAVIGATION MENU */

.menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.menu-btn__burger {
    width: 100%;
    height: 4px;
    background: #8bdda2;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #8bdda2;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);  
}

.menu-btn.open .menu-btn__burger {
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.pageList {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#check:checked ~ .pageList {
    opacity: 1;
    left: 0;
}

#check:checked ~ .pageList .listItens {
    -webkit-transform: perspective(100px) translateZ(0);
    -moz-transform: perspective(100px) translateZ(0);
    -ms-transform: perspective(100px) translateZ(0);
    transform: perspective(100px) translateZ(0);
    opacity: 1;
    transition-delay: .2s;
}

.pageList a {
    font-weight: 300;
}

.listItens {
    padding: 15px 0;
    opacity: 0;
    -webkit-transform: perspective(100px) translateZ(30px);
    -moz-transform: perspective(100px) translateZ(30px);
    -ms-transform: perspective(100px) translateZ(30px);
    transform: perspective(100px) translateZ(30px);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* ABOUT ME SECTION */

.socialMedia {
    width: 300px;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
}

.socialMediaList {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sMButton:hover {
    background: #8bdda2;
}

.sMButton1 {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #8bdda2;
}

.sMButton1 span {
    margin: 0 0 0 13px;
    display: flex;
    font-size: .9em;
    font-weight: 300;
    color: #fff;
}

.sMButton1::before {
    display: none;
}

.sMButton1:hover::before {
    display: none;
}

.aboutMe {
    margin: 8em auto 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.aboutMeProfile {
    margin: 0 0 50px 0;
}

.aboutMePic {
    margin: 0 0 50px 0;
    padding: 0;
    width: 196px;
    height: 196px;
}

.aboutMePic img {
    width: 196px;
    height: 196px;
}

.aboutMePic .img::after {
    width: 196px;
    height: 196px;
}

.aboutMePic .spinner {
    width: 224px;
    height: 224px;
}

.aboutMePic .info {
    width: 196px;
    height: 196px;
    font-size: .7em;
}

.aboutMePic hr {
    width: 140px;
}

.aboutMeProfile {
    margin: 0;
    width: 95%;
}

.aboutMeTitle h2{
    margin: 0 0 10px 0;
    font-size: 1em;
    letter-spacing: 3px;
}

.aboutMePhrase {
    width: 95%;
    padding: 0;
    font-size: .85em;
    text-align: center;
}

.aboutMeFrame {
    margin: 8em auto 3.5em auto;
    padding: 0;
    width: 100%;
}

/* PORTFOLIO SECTION */

.portfolio {
    padding: 20px 0;
    width: 90%;
}

.portfolio h2 {
    margin: 50px 0;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 3px;
}

.viewCard {
    margin: 20px 0;
    padding: 0;
    width: 90%;
    flex-wrap: wrap;
    background: none;
}

.viewCardRight {
    flex-direction: column-reverse;
}

.viewCardLeft {
    flex-direction: column;
}

.viewCard a {
    margin: 0 0 40px 0;
    width: 90%;
    height: 180px;
}

.viewCard a::before {
    content: 'click to visit';
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    background: none;
    -webkit-backdrop-filter: none;
    -moz-backdrop-filter: none;
    -ms-backdrop-filter: none;
    backdrop-filter: none;
}

.viewCard a img {
    width: 100%;
    height: 100%;
}

.viewCard .pLeft,
.viewCard .pRight {
    width: 90%;
    font-size: .78em;
    font-weight: 400;
    text-align: center;
}

.resumeArea {
    margin: 20px 0;
}

.resumeLink {
    margin: 0 35px 0 0;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 20px;
    background: #a7f0bc;
    font-size: .8em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 0;
    text-transform: initial;
    border-radius: 20px 0 0 20px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}

.resumeLink::before {
    display: none;
}

.resumeLink::after {
    display: none;
}

.resumeArea img {
    opacity: 1;
    height: 36px;
    top: 8px;
    right: 62px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* SKILLS SECTION */

.skills {
    margin: 50px auto;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
}

.skillText {
    width: 100%;
    justify-content: center;
    font-size: 1em;
    text-align: left;
}

.skillText h2 {
    padding: 0 0 50px 0;
    width: 95%;
    font-size: 1em;
    text-align: center;
    background: -webkit-linear-gradient(left, #3a3a3a, #9b9b9b, #7a7a7a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillLine {
    display: none;
}

.skillBoard {
    margin-right: 0;
    width: 95%;
}

.skillCard {
    height: 120px;
    font-size: .8em;
}

.skillCard p {
    padding: 13px 0;
}

.skillCard span {
    top: -10px;
}

/* CONTACT ME SECTION */

.contact h2 {
    font-size: 1em;
    margin: 0 0 50px 0;
    padding: 0;
}

.contact p {
    font-size: .78em;
    line-height: 1.4em;
    text-align: center;
}

.contactForm {
    width: 100%;
}

.contactForm input, .contactForm textarea {
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: .78em;
}

.inputType1 {
    width: 48%;
}

.sendButton {
    padding: 10px 30px;
    font-size: .8em;
    font-weight: bold ;
}

.sendButton::before {
    display: none;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
}

.footer p {
    font-size: .8em;
}