/* PAGE TRANSITION */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

@keyframes showUp {
    0% { 
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation: fadeIn 0.7s ease-in-out;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 20px;
    background: #d4fde0;
    border: solid 2px #a7f0bc;
}      

::-webkit-scrollbar-button{
    display: none;
}       
 
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #aefac3, #8fcca2);
    border-radius: 20px;
}

/* SCROLL ANIMATION */

[data-animation] {
    opacity: 0;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    transition: 1.2s;
}

[data-animation="left"]{
    transform: translate3d(-50px,0,0);
}

[data-animation="right"]{
    transform: translate3d(50px,0,0);
}

[data-animation="top"]{
    transform: translate3d(0,-50px,0);
}

[data-animation="bottom"]{
    transform: translate3d(0,50px,0);
}

[data-animation="inFront"]{
    transform: perspective(100px) translate3d(0,0,20px);
}

[data-animation="behind"]{
    transform: perspective(100px) translate3d(0,0,-20px);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0,0,0);
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION MANU */

.container {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    -moz-backdrop-filter: saturate(100%) blur(5px);
    backdrop-filter: saturate(100%) blur(5px);
    border-bottom: solid 2px #a7f0bc;
    position: fixed;
    top: 0;
    z-index: 3;
}

.navigationMenu {
    margin: 0 auto;
    width: 80%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandMark {
    font-size: 1.5em;
    text-transform: uppercase;
}

.brandMark a {
    text-decoration: none;
    color: #000;
}

.brandMark h1 {
    font-weight: 200;
}

.brandMark span {
    font-weight: 600;
    background: -webkit-linear-gradient(left, #3a3a3a, #7a7a7a, #b6b6b6, #696969);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-btn {
    display: none;
}

.pageList {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItens a{
    font-size: 0.85em;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.listItens a:hover {
    color: #a7f0bc;
}

/* SOCIAL MEDIA INFO */

.socialMedia {
    width: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 13.5%;
    left: 495px;
}

.sMButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 0 15px 0;
    background: #8bdda2;
    border-radius: 25px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.sMButton a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sMButton:hover {
    background: #77be8c;
}

.sMButton1 {
    display: flex;
    align-items: center;
    position: relative;
}

.sMButton1:hover {
    background: #77be8c;
    cursor: pointer;
    width: 180px;
}

.sMButton1::before {
    padding: 0 0 0 12px;
    content: '+55 11 98286-4983';
    display: none;
    width: 180px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.sMButton1:hover::before {
    display: flex;
    animation: showUp .6s ease-in-out forwards;
}

.sMImg1 {
    width: 23px;
    position: absolute;
    top: 21%;
    right: 8px;
} 

.sMImg2 {
    margin: 0 0 5px 0;
    width: 50%;
}

.sMImg3 {
    width: 60%;
}

/* ABOUT ME SECTION */

.aboutMe {
    margin: 5em 0 1.5em 0;
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeProfile {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    position: relative;
}

.aboutMePic {
    padding: 0 0 40px 0;
    width: 266px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.aboutMePic img{
    width: 266px;
    height: 266px;
    border-radius: 50%;
    -webkit-transform: perspective(100px) translate3d(0,0,0);
    -moz-transform: perspective(100px) translate3d(0,0,0);
    transform: perspective(100px) translate3d(0,0,0);
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    box-sizing: border-box;
}

.aboutMePic:hover img {
    -webkit-transform: perspective(100px) translate3d(0,0,5px);
    -moz-transform: perspective(100px) translate3d(0,0,5px);
    transform: perspective(100px) translate3d(0,0,5px);
}

.aboutMePic .img::after {
    content: '';
    width: 266px;
    height: 266px;
    position: absolute;
    top: -16px;
    left: -15px;
    border: solid 15px #fff;
    border-radius: 50%;
}

.aboutMePic .spinner {
    display: block;
    width: 294px;
    height: 294px;
    position: absolute;
    top: -14.5px;
    left: -14px;
    border: solid 7px #8fcca2;
    border-right-color: #d4d4d4;
    border-bottom-color: #d4d4d4;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    z-index: 1;
}

.aboutMePic:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.aboutMePic .info {
    opacity: 0;
    width: 266px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 3px;
    background-color: rgba(63, 63, 63, 0.616);
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transform: perspective(100px) translate3d(0,0,-20px);
    -moz-transform: perspective(100px) translate3d(0,0,-20px);
    transform: perspective(100px) translate3d(0,0,-20px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: default;
}

.aboutMePic:hover .info {
    opacity: 1;
    -webkit-transform: perspective(100px) translate3d(0,0,0);
    -moz-transform: perspective(100px) translate3d(0,0,0);
    transform: perspective(100px) translate3d(0,0,0);
}

.aboutMePic hr {
    width: 230px;
}

.aboutMeTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeTitle h2 {
    font-size: 2em;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #3a3a3a, #b6b6b6, #7a7a7a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 30px 0;
    text-transform: uppercase;
}

.aboutMePhrase {
    width: 60%;
    padding: 0 0 0 30px;
    font-size: 1.3em;
    line-height: 1.3em;
}

.aboutMeFrame {
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

.aboutMeFrame img {
    width: 80%;
}

/* PORTFOLIO SECTION */

.portfolio {
    margin: 0 auto;
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient(to top, #fff, #8ce2a4, #52b16d 130%);
    -webkit-box-shadow: 0px 10px 28px -2px rgba(190, 190, 190, 0.85);
    -moz-box-shadow: 0px 10px 28px -2px rgba(190, 190, 190, 0.85);
    box-shadow: 0px 10px 28px -2px rgba(190, 190, 190, 0.85);
    border-radius: 10px;
}

.portfolio h2 {
    margin: 100px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1em;
}

.viewCard {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.viewCard hr {
    margin: 0 50px;
    width: 2px;
    height: 250px;
    border: none;
    background: #81ce97;
}

.viewCard p {
    width: 40%;
    font-size: 1.5em;
    font-weight: 600;
    text-align: right;
    line-height: 1.5em;
    background: -webkit-linear-gradient(left, #3a3a3a, #9b9b9b, #7a7a7a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.viewCard img {
    width: 100%;
    -webkit-box-shadow: 8px 8px 15px 1px rgba(120,120,120,1);
    -moz-box-shadow: 8px 8px 15px 1px rgba(120,120,120,1);
    box-shadow: 8px 8px 15px 1px rgba(120,120,120,1);
    border-radius: 10px;
    opacity: 1;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 1;
}

.viewCard img:hover {
    opacity: .8;
}

.viewCard a {
    width: 50%;
}

.viewCard a::before {
    content: 'click here to visit';
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 12%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #91e5a9;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 2;
}

.viewCard a:hover::before {
    opacity: 1;
} 

.resumeArea {
    margin: 100px 0;
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumeLink {
    margin: 0 90px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #7a7a7a;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.resumeLink::before{
    content: '';
    margin: 10px 0;
    width: 0px;
    height: 2px;
    display: block;
    text-align: center;
    background: #92e9ab;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.resumeLink:hover::before {
    width: 192px;
}

.resumeLink::after{
    content: '';
    margin: 10px 0;
    width: 0px;
    height: 2px;
    display: block;
    text-align: center;
    background: #92e9ab;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.resumeLink:hover::after {
    width: 192px;
}

.resumeArea img {
    opacity: 0;
    height: 50px;
    position: absolute;
    top: 0;
    right: 55px;
    -webkit-transform: translate3d(20px,0,0);
    -moz-transform: translate3d(20px,0,0);
    transform: translate3d(20px,0,0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.resumeArea:hover img {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* SKILLS SECTION */

.skills {
    width: 95%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillLine {
    margin: 0 50px;
    width: 2px;
    height: 300px;
    border: none;
    background: #92e9ab;
}

.skillText {
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.skillText h2 {
    padding: 20px 0;
    width: 75%;
    font-size: 1.5em;
    font-weight: 600;
    text-align: right;
    background: -webkit-linear-gradient(45deg, #568865, #52b16d, #b3b3b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillBoard {
    margin-right: 140px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skillCard {
    margin: 0 0 25px 0;
    width: 30%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #fff, #fff, #93f3eb 130%);
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #bdbdbd;
}

.skillCard img {
    width: 50%;
}

.progressBar {
    height: 5px;
    border: none;
    background: linear-gradient(to right, #7ed396, #dbdbdb);
}

.pBar1 {
    width: 70%;
}

.pBar2 {
    width: 70%;
}

.pBar3 {
    width: 50%;
}

.pBar4 {
    width: 55%;
}

.pBar5 {
    width: 60%;
}

.pBar6 {
    width: 40%;
}

.pBar7 {
    width: 35%;
}

.pBar8 {
    width: 65%;
}

.pBar9 {
    width: 60%;
}

/* CONTACT SECTION */

.contact {
    width: 80%;
    margin: 0 auto;
}

.contactText {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.contactText h2 {
    padding: 0 0 20px 0;
    font-size: 2em;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #9c9c9c, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.contactText p {
    padding: 0 0 50px 0;
    font-size: 1.3em;
    color: #818181;
}

.containerForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactForm {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactForm input, textarea {
    margin: 0 0 15px 0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
    box-sizing: border-box;
    border: solid 1px #92e9ab;
    border-radius: 6px;
    outline: none;
    resize: none;
    color: #7a7a7a;
}

.inputType1 {
    width: 49%;
}

.inputType2 {
    width: 100%;
}

.sendButton {
    margin: 0 0 50px 0;
    padding: 10px 50px;
    background: #a7f0bc;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sendButton:hover {
    background: #88d8a0; 
    -webkit-box-shadow: 0 4px 6px 0 rgba(17, 17, 19, 0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(17, 17, 19, 0.28);
    box-shadow: 0 4px 6px 0 rgba(17, 17, 19, 0.28);
}

.sendButton:active {
    outline: none;
}

.sendButton::before {
    content: '\2794';
    opacity: 0;
    position: absolute;
    top: 451px;
    left: 126px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: #fff;
    -webkit-transform: translate3d(-30px,0,0);
    -moz-transform: translate3d(-30px,0,0);
    transform: translate3d(-30px,0,0); 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;   
}

.sendButton:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); 
}

/* FOOTER */

.footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, #a7f0bc, #7bec9b);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #fff;
    -webkit-box-shadow: 0px -3px 10px 1px rgba(216, 216, 216,1);
    -moz-box-shadow: 0px -3px 10px 1px rgb(216, 216, 216,1);
    box-shadow: 0px -3px 10px 1px rgb(216, 216, 216,1);
}

@media (max-width: 760px) {

    body {
        width: 100%;
    }

    /* NAVIGATION MENU */

    .navigationMenu {
        background-color: rgba(255,255,255,0);
    }

    .menu-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger {
        width: 100%;
        height: 4px;
        background: #8bdda2;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: #8bdda2;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-12px);
    }

    .menu-btn__burger::after {
        transform: translateY(12px);  
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .pageList {
        display: none;
    }

    /* ABOUT ME SECTION */

    .socialMedia {
        display: none;
    }

    .aboutMe {
        margin-top: 9em;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .aboutMeProfile {
        margin: 0 0 50px 0;
    }

    .aboutMePic {
        margin: 0 0 50px 0;
        padding: 0;
        width: 196px;
        height: 196px;
    }

    .aboutMePic img {
        width: 196px;
        height: 196px;
    }

    .aboutMePic .img::after {
        width: 196px;
        height: 196px;
    }

    .aboutMePic .spinner {
        width: 224px;
        height: 224px;
    }

    .aboutMePic .info {
        width: 196px;
        height: 196px;
        font-size: .7em;
    }

    .aboutMePic hr {
        width: 140px;
    }

    .aboutMeProfile {
        width: 95%;
    }

    .aboutMeTitle h2{
        font-size: 1em;
        letter-spacing: 3px;
    }

    .aboutMePhrase {
        width: 95%;
        padding: 0;
        font-size: .78em;
    }

    .aboutMeFrame {
        width: 100%;
    }

    /* PORTFOLIO SECTION */

    .portfolio {
        width: 90%;
    }

    .portfolio h2 {
        margin: 50px 0;
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: 3px;
    }

    .viewCard {
        width: 90%;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .viewCard hr {
        display: none;
    }

    .viewCard a {
        width: 90%;
    }

    .viewCard img {
        margin: 0 0 50px 0;
        width: 100%;
    }

    .viewCard a::before {
        content: 'click to visit';
        top: 35%;
        opacity: 1;
        font-size: .8em;
    }

    .viewCard p {
        width: 90%;
        font-size: .78em;
        font-weight: 400;
        text-align: left;
    }

    .resumeArea {
        margin: 50px 0;
    }

    .resumeLink {
        margin: 0 35px 0 0;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 115px;
        height: 20px;
        background: #a7f0bc;
        font-size: .8em;
        font-weight: 300;
        color: #fff;
        text-align: center;
        line-height: 0;
        text-transform: initial;
        border-radius: 20px 0 0 20px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
        -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
        box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    }

    .resumeLink::before {
        display: none;
    }

    .resumeLink::after {
        display: none;
    }

    .resumeArea img {
        opacity: 1;
        height: 36px;
        top: 8px;
        right: 62px;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    /* SKILLS SECTION */

    .skills {
        margin: 50px auto;
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skillText {
        width: 100%;
        justify-content: center;
        font-size: 1em;
        text-align: left;
    }

    .skillText h2 {
        padding: 0 0 50px 0;
        width: 80%;
        font-size: 1em;
        text-align: left;
        background: -webkit-linear-gradient(left, #3a3a3a, #9b9b9b, #7a7a7a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .skillLine {
        display: none;
    }

    .skillBoard {
        margin-right: 0;
        width: 95%;
    }

    .skillCard {
        height: 100px;
        font-size: .8em;
    }
    /* CONTACT ME SECTION */

    .contact h2 {
        font-size: 1em;
        margin: 0 0 50px 0;
        padding: 0;
    }

    .contact p {
        font-size: .78em;
        line-height: 1.4em;
    }

    .contactForm {
        width: 100%;
    }

    .contactForm input, textarea {
        margin: 0 0 10px 0;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: .78em;
    }

    .inputType1 {
        width: 48%;
    }

    .sendButton {
        padding: 10px 30px;
        font-size: .8em;
        font-weight: bold ;
        font-family: 'Open Sans', sans-serif;
    }

    .sendButton::before {
        display: none;
    }

    /* FOOTER */

    .footer {
        width: 100%;
        height: 100px;
    }

    .footer p {
        font-size: .8em;
    }
}   
