html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    animation: fadeIn 0.7s ease-in-out;
}

main {
    overflow-x: hidden;
}

/* PAGE TRANSITION */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

@keyframes showUp {
    0% { 
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 20px;
    background: #d4fde0;
    border: solid 2px #a7f0bc;
}      

::-webkit-scrollbar-button{
    display: none;
}       
 
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #aefac3, #8fcca2);
    border-radius: 20px;
}

/* SCROLL ANIMATION */

[data-animation] {
    opacity: 0;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    transition: 1.2s;
}

[data-animation="left"]{
    transform: translate3d(-50px,0,0);
}

[data-animation="right"]{
    transform: translate3d(50px,0,0);
}

[data-animation="top"]{
    transform: translate3d(0,-50px,0);
}

[data-animation="bottom"]{
    transform: translate3d(0,50px,0);
}

[data-animation="inFront"]{
    transform: perspective(100px) translate3d(0,0,20px);
}

[data-animation="behind"]{
    transform: perspective(100px) translate3d(0,0,-20px);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0,0,0);
}

/* NAVIGATION MANU */

.container {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    -moz-backdrop-filter: saturate(100%) blur(5px);
    -ms-backdrop-filter: saturate(100%) blur(5px);
    backdrop-filter: saturate(100%) blur(5px);
    border-bottom: solid 2px #a7f0bc;
    position: fixed;
    top: 0;
    z-index: 3;
}

.navigationMenu {
    margin: 0 auto;
    width: 80%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandMark {
    font-size: 1em;
    text-transform: uppercase;
}

.brandMark a {
    text-decoration: none;
    color: #000;
}

.brandMark h1 {
    font-weight: 200;
}

.brandMark span {
    font-weight: 600;
    background: -webkit-linear-gradient(left, #3a3a3a, #7a7a7a, #b6b6b6, #696969);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#check {
    display: none;
}

.menu-btn {
    display: none;
}

.pageList {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItens a{
    font-size: 0.85em;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.listItens a:hover {
    color: #a7f0bc;
}

/* SOCIAL MEDIA INFO */

.socialMedia {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 13.5%;
    left: 495px;
}

.sMButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 0 15px 0;
    background: #8bdda2;
    border-radius: 25px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.sMButton a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sMButton:hover {
    background: #77be8c;
}

.sMButton1 {
    display: flex;
    align-items: center;
    position: relative;
}

.sMButton1:hover {
    background: #77be8c;
    cursor: pointer;
    width: 180px;
}

.sMButton1::before {
    padding: 0 0 0 12px;
    content: '+55 11 98286-4983';
    display: none;
    width: 180px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.sMButton1:hover::before {
    display: flex;
    animation: showUp .6s ease-in-out forwards;
}

.sMButton1 span {
    display: none;
}

.sMImg1 {
    width: 23px;
    position: absolute;
    top: 21%;
    right: 8px;
} 

.sMImg2 {
    margin: 0 0 5px 0;
    width: 50%;
}

.sMImg3 {
    width: 60%;
}

/* ABOUT ME SECTION */

.aboutMe {
    margin: 5em auto 1.5em auto;
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeProfile {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #5c5c5c;
    position: relative;
}

.aboutMePic {
    padding: 0 0 40px 0;
    width: 266px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.aboutMePic img{
    width: 266px;
    height: 266px;
    border-radius: 50%;
    -webkit-transform: perspective(100px) translate3d(0,0,0);
    -moz-transform: perspective(100px) translate3d(0,0,0);
    transform: perspective(100px) translate3d(0,0,0);
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    box-sizing: border-box;
}

.aboutMePic:hover img {
    -webkit-transform: perspective(100px) translate3d(0,0,5px);
    -moz-transform: perspective(100px) translate3d(0,0,5px);
    transform: perspective(100px) translate3d(0,0,5px);
}

.aboutMePic .img::after {
    content: '';
    width: 266px;
    height: 266px;
    position: absolute;
    top: -16px;
    left: -15px;
    border: solid 15px #fff;
    border-radius: 50%;
}

.aboutMePic .spinner {
    display: block;
    width: 294px;
    height: 294px;
    position: absolute;
    top: -14.5px;
    left: -14px;
    border: solid 7px #8fcca2;
    border-right-color: #d4d4d4;
    border-bottom-color: #d4d4d4;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    z-index: 1;
}

.aboutMePic:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.aboutMePic .info {
    opacity: 0;
    width: 266px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 3px;
    background-color: rgba(63, 63, 63, 0.616);
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transform: perspective(100px) translate3d(0,0,-20px);
    -moz-transform: perspective(100px) translate3d(0,0,-20px);
    transform: perspective(100px) translate3d(0,0,-20px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: default;
}

.aboutMePic:hover .info {
    opacity: 1;
    -webkit-transform: perspective(100px) translate3d(0,0,0);
    -moz-transform: perspective(100px) translate3d(0,0,0);
    transform: perspective(100px) translate3d(0,0,0);
}

.aboutMePic hr {
    width: 230px;
}

.aboutMeTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeTitle h2 {
    margin: 0 0 30px 0;
    font-family: 'courier', serif;
    font-size: 2em;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #3a3a3a, #b6b6b6, #7a7a7a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.aboutMePhrase {
    width: 60%;
    font-family: 'courier', serif;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
}

.aboutMeFrame {
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

.aboutMeFrame img {
    width: 80%;
}

/* PORTFOLIO SECTION */

.portfolio {
    margin: 0 auto;
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient(to top, #fff, #8ce2a4, #52b16d 130%);
    -webkit-box-shadow: 0px 10px 28px -2px rgba(190, 190, 190, 0.85);
    -moz-box-shadow: 0px 10px 28px -2px rgba(190, 190, 190, 0.85);
    box-shadow: 0px 10px 28px -2px rgba(190, 190, 190, 0.85);
    border-radius: 10px;
}

.portfolio h2 {
    margin: 100px 0;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1em;
}

.viewCard {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewCard hr {
    margin: 0 50px;
    width: 2px;
    height: 250px;
    border: none;
    background: #81ce97;
}

.viewCard p {
    width: 40%;
    font-size: 1.5em;
    font-weight: 600;
    text-align: right;
    line-height: 1.5em;
    background: -webkit-linear-gradient(left, #3a3a3a, #9b9b9b, #7a7a7a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.viewCard img {
    width: 100%;
    -webkit-box-shadow: 8px 8px 15px 1px rgba(120,120,120,1);
    -moz-box-shadow: 8px 8px 15px 1px rgba(120,120,120,1);
    box-shadow: 8px 8px 15px 1px rgba(120,120,120,1);
    border-radius: 10px;
    opacity: 1;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 1;
}

.viewCard img:hover {
    opacity: .8;
}

.viewCard a {
    width: 50%;
    position: relative;
}

.viewCard a::before {
    content: 'click here to visit';
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 12%;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #91e5a9;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 2;
}

.viewCard a:hover::before {
    opacity: 1;
} 

.resumeArea {
    margin: 100px 0;
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.resumeLink {
    margin: 0 90px 0 0;
    font-size: 1.2em;
    font-weight: 500;
    color: #7a7a7a;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.resumeLink::before{
    content: '';
    margin: 10px 0;
    width: 0px;
    height: 2px;
    display: block;
    text-align: center;
    background: #92e9ab;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.resumeLink:hover::before {
    width: 192px;
}

.resumeLink::after{
    content: '';
    margin: 10px 0;
    width: 0px;
    height: 2px;
    display: block;
    text-align: center;
    background: #92e9ab;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.resumeLink:hover::after {
    width: 192px;
}

.resumeArea img {
    opacity: 0;
    height: 54px;
    position: absolute;
    top: -2px;
    right: 50px;
    -webkit-transform: translate3d(20px,0,0);
    -moz-transform: translate3d(20px,0,0);
    transform: translate3d(20px,0,0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.resumeArea:hover img {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* SKILLS SECTION */

.skills {
    width: 95%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillLine {
    margin: 0 50px;
    width: 2px;
    height: 300px;
    border: none;
    background: #92e9ab;
}

.skillText {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.skillText h2 {
    padding: 20px 0;
    width: 75%;
    font-size: 1.5em;
    font-weight: 600;
    text-align: right;
    background: -webkit-linear-gradient(45deg, #568865, #52b16d, #b3b3b3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillBoard {
    margin-right: 140px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skillCard {
    margin: 0 0 25px 0;
    width: 30%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #aaf1c1, #aaf1c1, #b9fff9 130%);
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}

.skillCard img {
    width: 40%;
    fill: #b6b6b6;
}

.skillCard p {
    padding: 18px 0;
    font-size: .9em;
    background: -webkit-linear-gradient(left, #acacac, #8d8d8d, #6b6b6b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillCard span {
    position: absolute;
    top: -11px;
    right: -10px;
    font-size: 1.5em;
    font-weight: bolder;
    color: #fff;
    -webkit-text-shadow: 2px 2px 3px #adadad;
    -moz-text-shadow: 2px 2px 3px #adadad;
    text-shadow: 2px 2px 3px #adadad;
}

.progressBar {
    height: 5px;
    border: none;
    background: linear-gradient(to right, #ccc, #fff, #fff 130%);
    position: relative;
}

.pBar1 {
    width: 60%;
}

.pBar2 {
    width: 60%;
}

.pBar3 {
    width: 50%;
}

.pBar4 {
    width: 55%;
}

.pBar5 {
    width: 60%;
}

.pBar6 {
    width: 40%;
}

.pBar7 {
    width: 35%;
}

.pBar8 {
    width: 60%;
}

.pBar9 {
    width: 60%;
}

/* CONTACT SECTION */

.contact {
    width: 80%;
    margin: 0 auto;
}

.contactText {
    display: flex;
    flex-direction: column;
}

.contactText h2 {
    padding: 0 0 20px 0;
    font-size: 2em;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #9c9c9c, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.contactText p {
    padding: 0 0 50px 0;
    font-size: 1.3em;
    color: #818181;
}

.containerForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactForm {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactForm input, .contactForm textarea {
    margin: 0 0 15px 0;
    padding: 10px;
    font-size: 1em;
    font-weight: 300;
    box-sizing: border-box;
    border: solid 1px #92e9ab;
    border-radius: 6px;
    outline: none;
    resize: none;
    color: #7a7a7a;
}

.inputType1 {
    width: 49%;
}

.inputType2 {
    width: 100%;
}

.sendButton {
    margin: 0 0 50px 0;
    padding: 10px 50px;
    background: #a7f0bc;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sendButton:hover {
    background: #88d8a0; 
    -webkit-box-shadow: 0 4px 6px 0 rgba(17, 17, 19, 0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(17, 17, 19, 0.28);
    box-shadow: 0 4px 6px 0 rgba(17, 17, 19, 0.28);
}

.sendButton:active {
    outline: none;
}

.sendButton::before {
    content: '\2794';
    opacity: 0;
    position: absolute;
    top: 388px;
    left: 120px;
    font-size: 1.4em;
    font-weight: lighter;
    color: #fff;
    -webkit-transform: translate3d(-30px,0,0);
    -moz-transform: translate3d(-30px,0,0);
    transform: translate3d(-30px,0,0); 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;   
}

.sendButton:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); 
}

/* FOOTER */

.footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, #a7f0bc, #7bec9b);
    font-size: 1em;
    font-weight: 200;
    color: #fff;
    -webkit-box-shadow: 0px -3px 10px 1px rgba(216, 216, 216,1);
    -moz-box-shadow: 0px -3px 10px 1px rgb(216, 216, 216,1);
    box-shadow: 0px -3px 10px 1px rgb(216, 216, 216,1);
}