.welcome-page {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 200;
    transition: all .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.welcome-page.removed {
    opacity: 0;
    z-index: -200;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 500;
    color: #b3b3b3;
}

.prefix {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
    animation: slideLeft 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards 0ms;
    z-index: 1;
}

.suffix {
    margin-right: 100px;
    width: 40%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 200;
    animation: slideRight 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards 2s;
}

.suffix,
.dot {
    margin-left: 10px;
}

.dot1{
    animation: jump .6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite;
}

.dot2{
    animation: jump .6s cubic-bezier(0.455, 0.03, 0.515, 0.955) .4s infinite;
}

.dot3{
    animation: jump .6s cubic-bezier(0.455, 0.03, 0.515, 0.955) .8s infinite;
}