html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    animation: fadeIn 0.7s ease-in-out;
    overflow-y: hidden;
}

main {
    overflow-x: hidden;
}

.paraxify {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}