/* SCROLLBAR */

::-webkit-scrollbar{
    width: 20px;
    background: #d4fde0;
    border: solid 2px #a7f0bc;
}      

::-webkit-scrollbar-button{
    display: none;
}       
 
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #aefac3, #8fcca2);
    border-radius: 20px;
}